pytorch.rt/
res/
test-res/
.data/
.assets/
.envrc
.vscode/
.idea/

# temporary files
*.tmp
*.pyc
*.sav
*.swp
*.bak

# (large) data files or archives
*.result
*.dump
*.p
*.pkl
*.hkl
*.pickle
*.hickle
*.pth
*.tar
*.tar.gz
*.tgz
*.zip

# (large) media files
*.avi
*.mp4
*.mp3
*.png
*.jpg
*.jpeg

# temporary test files
*test*.py
*test*.ipynb
# but include test folder
#*/test/

# jupyter notebook checkpoint
.ipynb_checkpoints

# temporary local script
_*.sh
_*.py

# cloned repo (as reference)
src/prednet_ref1_pytorch/
