pytorch.rt/
rt/
res/
test-res/
.data/
.assets/
.envrc
.vscode/
.idea/

# temporary files
__pycache__
*.tmp
*.pyc
*.sav
*.swp
*.bak

# (large) data files or archives
*.result
*.dump
*.p
*.pkl
*.hkl
*.pickle
*.hickle
*.pth
*.tar
*.tar.gz
*.tgz
*.zip
*.h5
*.npz
*.npy
src/classloc/data/

# (large) media files
*.avi
*.mp4
*.mp3
*.png
*.jpg
*.jpeg

# intermediate files
*.so
*.o
lib/pyflow/pyflow.cpp

# temporary test files
*test*.py
*test*.ipynb
# but include test folder
#*/test/
src/ezfirstae/runs/experiments/

# jupyter notebook checkpoint
.ipynb_checkpoints

# temporary local script
_*.sh
_*.py
_*.sed

# cloned repo (as reference)
src/prednet_ref1_pytorch/

# profile result
**/profile/

# logs
lib/.vmdata.log

# auxiliary files
build.xml
.ant-targets-build.xml
experiments/*.py
experiments/Makefile*
