torch
torchvision
tqdm
scikit-learn
pylatex
numpy==1.14.5
scipy
opencv-python
hickle
matplotlib
cachetools
filelock

# IDE support
pylint
typing

# for experiments
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
ipython==6.4.0
prompt-toolkit==1.0.15

# for debugging
unittest2
ipdb

# for compatible with the original pytorch-faster-rcnn project
cffi
easydict==1.6
