#http://download.pytorch.org/whl/cu90/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl
torch
torchvision
tqdm
scikit-learn
jupyter
pylatex
numpy==1.14.5
scipy
opencv-python
hickle
matplotlib
cachetools
ddlogger
filelock

# IDE support
pylint
typing

# for debugging
line_profiler
unittest2
ipdb

# for visualization
tensorboard==1.7.0
tensorboardX

# for compatible with the original PredNet (Keras) project
theano==0.9.0
tensorflow==1.2.1
keras==2.0.6
