torch==1.0.0
torchvision
tqdm
scikit-learn
scikit-image
pylatex
numpy==1.14.5
scipy
opencv-python
hickle
matplotlib
cachetools
filelock

# IDE support
pylint
typing

# for experiments
blllib
jupyter

# for debugging
unittest2
ipdb

# for compatible with the original pytorch-faster-rcnn project
cffi
easydict==1.6
